<!-- university single / comment section -->
<div class="tab-pane fade" id="course-pills-6" role="tabpanel" aria-labelledby="course-pills-tab-6">
    <!-- Review START -->
    <div class="row">
        <div class="col-12">
            <h5 class="mb-4">Ask Your Question</h5>

            <!-- Comment box -->
            <div class="d-flex mb-4">
                <!-- Avatar -->
                <div class="avatar avatar-sm flex-shrink-0 me-2">
                    <a href="#"> <img class="avatar-img rounded-circle" src="{% static 'assets/images/avatar/09.jpg'%}" alt=""> </a>
                </div>

                <form class="w-100 d-flex">
                    <textarea class="one form-control pe-4 bg-light" id="autoheighttextarea" rows="1" placeholder="Add a comment..."></textarea>
                    <button class="btn btn-primary ms-2 mb-0" type="button">Post</button>
                </form>
            </div>

            <!-- Comment item START -->
            <div class="border p-2 p-sm-4 rounded-3 mb-4">
                <ul class="list-unstyled mb-0">
                    <li class="comment-item">
                        <div class="d-flex mb-3">
                            <!-- Avatar -->
                            <div class="avatar avatar-sm flex-shrink-0">
                                <a href="#"><img class="avatar-img rounded-circle" src="{% static 'assets/images/avatar/05.jpg'%}" alt=""></a>
                            </div>
                            <div class="ms-2">
                                <!-- Comment by -->
                                <div class="bg-light p-3 rounded">
                                    <div class="d-flex justify-content-center">
                                        <div class="me-2">
                                            <h6 class="mb-1 lead fw-bold"> <a href="#!"> Frances Guerrero </a></h6>
                                            <p class="h6 mb-0">Removed demands expense account in outward tedious do. Particular way thoroughly unaffected projection?</p>
                                        </div>
                                        <small>5hr</small>
                                    </div>
                                </div>
                                <!-- Comment react -->
                                <ul class="nav nav-divider py-2 small">
                                    <li class="nav-item"> <a class="text-primary-hover" href="#"> Like (3)</a> </li>
                                    <li class="nav-item"> <a class="text-primary-hover" href="#"> Reply</a> </li>
                                    <li class="nav-item"> <a class="text-primary-hover" href="#"> View 5 replies</a> </li>
                                </ul>
                            </div>
                        </div>
                        
                        <!-- Comment item nested START -->
                        <ul class="list-unstyled ms-4">
                            <!-- Comment item START -->
                            <li class="comment-item">
                                <div class="d-flex">
                                    <!-- Avatar -->
                                    <div class="avatar avatar-xs flex-shrink-0">
                                        <a href="#"><img class="avatar-img rounded-circle" src="{% static 'assets/images/avatar/06.jpg'%}" alt=""></a>
                                    </div>
                                    <!-- Comment by -->
                                    <div class="ms-2">
                                        <div class="bg-light p-3 rounded">
                                            <div class="d-flex justify-content-center">
                                                <div class="me-2">
                                                    <h6 class="mb-1  lead fw-bold"> <a href="#"> Lori Stevens </a> </h6>
                                                    <p class=" mb-0">See resolved goodness felicity shy civility domestic had but Drawings offended yet answered Jennings perceive. Domestic had but Drawings offended yet answered Jennings perceive.</p>
                                                </div>
                                                <small>2hr</small>
                                            </div>
                                        </div>
                                        <!-- Comment react -->
                                        <ul class="nav nav-divider py-2 small">
                                            <li class="nav-item"><a class="text-primary-hover" href="#!"> Like (5)</a></li>
                                            <li class="nav-item"><a class="text-primary-hover" href="#!"> Reply</a>	</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <!-- Comment item END -->
                        </ul>
                        <!-- Comment item nested END -->
                    </li>
                </ul>
            </div>
            <!-- Comment item END -->

            <!-- Comment item START -->
            <div class="border p-2 p-sm-4 rounded-3">
                <ul class="list-unstyled mb-0">
                    <li class="comment-item">
                        <div class="d-flex">
                            <!-- Avatar -->
                            <div class="avatar avatar-sm flex-shrink-0">
                                <a href="#"><img class="avatar-img rounded-circle" src="{% static 'assets/images/avatar/02.jpg'%}" alt=""></a>
                            </div>
                            <div class="ms-2">
                                <!-- Comment by -->
                                <div class="bg-light p-3 rounded">
                                    <div class="d-flex justify-content-center">
                                        <div class="me-2">
                                            <h6 class="mb-1 lead fw-bold"> <a href="#!"> Louis Ferguson </a></h6>
                                            <p class="h6 mb-0">Removed demands expense account in outward tedious do. Particular way thoroughly unaffected projection?</p>
                                        </div>
                                        <small>5hr</small>
                                    </div>
                                </div>
                                <!-- Comment react -->
                                <ul class="nav nav-divider py-2 small">
                                    <li class="nav-item"> <a class="text-primary-hover" href="#"> Like</a> </li>
                                    <li class="nav-item"> <a class="text-primary-hover" href="#"> Reply</a> </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- Comment item END -->

        </div>

    </div>
</div>




<!-- university apply/ parent section -->
					<!-- Divider -->
					<hr class="my-5">

					<!-- Parent detail -->
					<h5 class="mt-0">Parent detail</h5>
					
					<!-- Salutation -->
					<div class="col-12">
						<div class="row g-xl-0 align-items-center">
							<div class="col-lg-4">
								<h6 class="mb-lg-0">Salutation <span class="text-danger">*</span></h6>
							</div>
							<div class="col-lg-8">
								<div class="d-flex">
									<div class="form-check radio-bg-light me-4">
										<input class="form-check-input" type="radio" name="flexRadioSalutation" id="flexRadioSalutation1" checked>
										<label class="form-check-label" for="flexRadioSalutation1">
											Mr.
										</label>
									</div>
									<div class="form-check radio-bg-light me-4">
										<input class="form-check-input" type="radio" name="flexRadioSalutation" id="flexRadioSalutation2">
										<label class="form-check-label" for="flexRadioSalutation2">
											Mrs.
										</label>
									</div>
									<div class="form-check radio-bg-light me-4">
										<input class="form-check-input" type="radio" name="flexRadioSalutation" id="flexRadioSalutation3">
										<label class="form-check-label" for="flexRadioSalutation3">
											Ms.
										</label>
									</div>
									<div class="form-check radio-bg-light">
										<input class="form-check-input" type="radio" name="flexRadioSalutation" id="flexRadioSalutation4">
										<label class="form-check-label" for="flexRadioSalutation4">
											Dr.
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Full name -->
					<div class="col-12">
						<div class="row g-xl-0 align-items-center">
							<div class="col-lg-4">
								<h6 class="mb-lg-0">Full name <span class="text-danger">*</span></h6>
							</div>
							<div class="col-lg-8">
								<input type="text" class="form-control" id="fullName">
							</div>
						</div>
					</div>

					<!-- Relation with applicant -->
					<div class="col-12">
						<div class="row g-xl-0 align-items-center">
							<div class="col-lg-4">
								<h6 class="mb-lg-0">Relation with applicant <span class="text-danger">*</span></h6>
							</div>
							<div class="col-lg-8">
								<input type="text" class="form-control" id="relation">
							</div>
						</div>
					</div>

					<!-- Email -->
					<div class="col-12">
						<div class="row g-xl-0 align-items-center">
							<div class="col-lg-4">
								<h6 class="mb-lg-0">Email <span class="text-danger">*</span></h6>
							</div>
							<div class="col-lg-8">
								<input type="email" class="form-control" id="email2">
							</div>
						</div>
					</div>

					<!-- Phone number -->
					<div class="col-12">
						<div class="row g-xl-0 align-items-center">
							<div class="col-lg-4">
								<h6 class="mb-lg-0">Phone number <span class="text-danger">*</span></h6>
							</div>
							<div class="col-lg-8">
								<input type="text" class="form-control" id="phoneNumber2">
							</div>
						</div>
					</div>

					<!-- Home address -->
					<div class="col-12">
						<div class="row g-xl-0">
							<div class="col-lg-4">
								<h6 class="mb-lg-0">Home address <span class="text-danger">*</span></h6>
							</div>
							<div class="col-lg-8">
								<textarea class="form-control" rows="3" placeholder=""></textarea>
							</div>
						</div>
					</div>

					<!-- Job title -->
					<div class="col-12">
						<div class="row g-xl-0 align-items-center">
							<div class="col-lg-4">
								<h6 class="mb-lg-0">Job title <span class="text-danger">*</span></h6>
							</div>
							<div class="col-lg-8">
								<input type="text" class="form-control" id="jobTitle">
							</div>
						</div>
					</div>

					<!-- Office phone number -->
					<div class="col-12">
						<div class="row g-xl-0 align-items-center">
							<div class="col-lg-4">
								<h6 class="mb-lg-0">Office phone number</h6>
							</div>
							<div class="col-lg-8">
								<input type="text" class="form-control">
							</div>
						</div>
					</div>


<!--form widgits-->
widgets ={
	'full_name':forms.TextInput(attrs={'class':'form-control',}),
	'full_name':forms.TextInput(attrs={'class':'form-control',}),
	'full_name':forms.TextInput(attrs={'class':'form-control',}),

}


<!-- اهم التخصصات صفحة تفاصيل الجامعة-->
<!-- =======================
Listed courses START -->
<section class="pt-0">
	<div class="container">
		<!-- Title -->
		<div class="row mb-4">
			<h2 class="mb-0">اهم التخصصات في جامعى (اسم الجامعة)</h2>
		</div>

		<div class="row">
			<!-- Slider START -->
			<div class="tiny-slider arrow-round arrow-blur arrow-hover">
				<div class="tiny-slider-inner" data-autoplay="false" data-arrow="true" data-edge="2" data-dots="false" data-items="3" data-items-lg="2" data-items-sm="1">
				
					<!-- Card Item START -->
					<div class="pb-4">
						<div class="card p-2 border">
							<div class="rounded-top overflow-hidden">
								<div class="card-overlay-hover">
									<img src="{% static 'assets/images/courses/4by3/17.jpg'%}" class="card-img-top" alt="course image">
								</div>
								<!-- Hover element -->
								<div class="card-img-overlay">
									<div class="card-element-hover d-flex justify-content-end">
										<a href="#" class="icon-md bg-white rounded-circle text-center">
											<i class="fas fa-shopping-cart text-danger"></i>
										</a>
									</div>
								</div>
							</div>
							<div class="card-body">
								<!-- Badge and icon -->
								<div class="d-flex justify-content-between">
									<!-- Rating and info -->
									<ul class="list-inline hstack gap-2 mb-0">
										<!-- Info -->
										<li class="list-inline-item d-flex justify-content-center align-items-center">
											<div class="icon-md bg-orange bg-opacity-10 text-orange rounded-circle"><i class="fas fa-user-graduate"></i></div>
											<span class="h6 fw-light ms-2 mb-0">9.1k</span>
										</li>
										<!-- Rating -->
										<li class="list-inline-item d-flex justify-content-center align-items-center">
											<div class="icon-md bg-warning bg-opacity-15 text-warning rounded-circle"><i class="fas fa-star"></i></div>
											<span class="h6 fw-light ms-2 mb-0">4.5</span>
										</li>
									</ul>
									<!-- Avatar -->
									<div class="avatar avatar-sm">
										<img class="avatar-img rounded-circle" src="{% static 'assets/images/avatar/09.jpg'%}" alt="avatar">
									</div>
								</div>
								<!-- Divider -->
								<hr>
								<!-- Title -->
								<h5 class="card-title"><a href="#">The Complete Digital Marketing Course - 12 Courses in 1</a></h5>
								<!-- Badge and Price -->
								<div class="d-flex justify-content-between align-items-center">
									<a href="#" class="badge bg-info bg-opacity-10 text-info"><i class="fas fa-circle small fw-bold me-2"></i>Personal Development</a>
									<!-- Price -->
									<h3 class="text-success mb-0">$140</h3>
								</div>
							</div>
						</div>
					</div>	
					<!-- Card Item END -->

					<!-- Card Item START -->
					<div class="pb-4">
						<div class="card p-2 border">
							<div class="rounded-top overflow-hidden">
								<div class="card-overlay-hover">
									<img src="{% static 'assets/images/courses/4by3/18.jpg'%}" class="card-img-top" alt="course image">
								</div>
								<!-- Hover element -->
								<div class="card-img-overlay">
									<div class="card-element-hover d-flex justify-content-end">
										<a href="#" class="icon-md bg-white rounded-circle text-center">
											<i class="fas fa-shopping-cart text-danger"></i>
										</a>
									</div>
								</div>
							</div>
							<div class="card-body">
								<!-- Badge and icon -->
								<div class="d-flex justify-content-between">
									<!-- Rating and info -->
									<ul class="list-inline hstack gap-2 mb-0">
										<!-- Info -->
										<li class="list-inline-item d-flex justify-content-center align-items-center">
											<div class="icon-md bg-orange bg-opacity-10 text-orange rounded-circle"><i class="fas fa-user-graduate"></i></div>
											<span class="h6 fw-light ms-2 mb-0">2.5k</span>
										</li>
										<!-- Rating -->
										<li class="list-inline-item d-flex justify-content-center align-items-center">
											<div class="icon-md bg-warning bg-opacity-15 text-warning rounded-circle"><i class="fas fa-star"></i></div>
											<span class="h6 fw-light ms-2 mb-0">3.6</span>
										</li>
									</ul>
									<!-- Avatar -->
									<div class="avatar avatar-sm">
										<img class="avatar-img rounded-circle" src="{% static 'assets/images/avatar/07.jpg'%}" alt="avatar">
									</div>
								</div>
								<!-- Divider -->
								<hr>
								<!-- Title -->
								<h5 class="card-title"><a href="#">Fundamentals of Business Analysis</a></h5>
								<!-- Badge and Price -->
								<div class="d-flex justify-content-between align-items-center">
									<a href="#" class="badge bg-info bg-opacity-10 text-info"><i class="fas fa-circle small fw-bold me-2"></i>Business Development</a>
									<!-- Price -->
									<h3 class="text-success mb-0">$160</h3>
								</div>
							</div>
						</div>
					</div>
					<!-- Card Item END -->

					<!-- Card Item START -->
					<div class="pb-4">
						<div class="card p-2 border">
							<div class="rounded-top overflow-hidden">
								<div class="card-overlay-hover">
									<img src="{% static 'assets/images/courses/4by3/21.jpg'%}" class="card-img-top" alt="course image">
								</div>
								<!-- Hover element -->
								<div class="card-img-overlay">
									<div class="card-element-hover d-flex justify-content-end">
										<a href="#" class="icon-md bg-white rounded-circle text-center">
											<i class="fas fa-shopping-cart text-danger"></i>
										</a>
									</div>
								</div>
							</div>
							<div class="card-body">
								<!-- Badge and icon -->
								<div class="d-flex justify-content-between">
									<!-- Rating and info -->
									<ul class="list-inline hstack gap-2 mb-0">
										<!-- Info -->
										<li class="list-inline-item d-flex justify-content-center align-items-center">
											<div class="icon-md bg-orange bg-opacity-10 text-orange rounded-circle"><i class="fas fa-user-graduate"></i></div>
											<span class="h6 fw-light ms-2 mb-0">6k</span>
										</li>
										<!-- Rating -->
										<li class="list-inline-item d-flex justify-content-center align-items-center">
											<div class="icon-md bg-warning bg-opacity-15 text-warning rounded-circle"><i class="fas fa-star"></i></div>
											<span class="h6 fw-light ms-2 mb-0">3.8</span>
										</li>
									</ul>
									<!-- Avatar -->
									<div class="avatar avatar-sm">
										<img class="avatar-img rounded-circle" src="{% static 'assets/images/avatar/05.jpg'%}" alt="avatar">
									</div>
								</div>
								<!-- Divider -->
								<hr>
								<!-- Title -->
								<h5 class="card-title"><a href="#">Google Ads Training: Become a PPC Expert</a></h5>
								<!-- Badge and Price -->
								<div class="d-flex justify-content-between align-items-center">
									<a href="#" class="badge bg-info bg-opacity-10 text-info"><i class="fas fa-circle small fw-bold me-2"></i> SEO</a>
									<!-- Price -->
									<h3 class="text-success mb-0">$226</h3>
								</div>
							</div>
						</div>
					</div>
					<!-- Card Item END -->

					<!-- Card Item START -->
					<div class="pb-4">
						<div class="card p-2 border">
							<div class="rounded-top overflow-hidden">
								<div class="card-overlay-hover">
									<img src="{% static 'assets/images/courses/4by3/20.jpg'%}" class="card-img-top" alt="course image">
								</div>
								<!-- Hover element -->
								<div class="card-img-overlay">
									<div class="card-element-hover d-flex justify-content-end">
										<a href="#" class="icon-md bg-white rounded-circle text-center">
											<i class="fas fa-shopping-cart text-danger"></i>
										</a>
									</div>
								</div>
							</div>
							<div class="card-body">
								<!-- Badge and icon -->
								<div class="d-flex justify-content-between">
									<!-- Rating and info -->
									<ul class="list-inline hstack gap-2 mb-0">
										<!-- Info -->
										<li class="list-inline-item d-flex justify-content-center align-items-center">
											<div class="icon-md bg-orange bg-opacity-10 text-orange rounded-circle"><i class="fas fa-user-graduate"></i></div>
											<span class="h6 fw-light ms-2 mb-0">15k</span>
										</li>
										<!-- Rating -->
										<li class="list-inline-item d-flex justify-content-center align-items-center">
											<div class="icon-md bg-warning bg-opacity-15 text-warning rounded-circle"><i class="fas fa-star"></i></div>
											<span class="h6 fw-light ms-2 mb-0">4.8</span>
										</li>
									</ul>
									<!-- Avatar -->
									<div class="avatar avatar-sm">
										<img class="avatar-img rounded-circle" src="{% static 'assets/images/avatar/02.jpg'%}" alt="avatar">
									</div>
								</div>
								<!-- Divider -->
								<hr>
								<!-- Title -->
								<h5 class="card-title"><a href="#">Behavior, Psychology and Care Training</a></h5>
								<!-- Badge and Price -->
								<div class="d-flex justify-content-between align-items-center">
									<a href="#" class="badge bg-info bg-opacity-10 text-info"><i class="fas fa-circle small fw-bold me-2"></i>Lifestyle</a>
									<!-- Price -->
									<h3 class="text-success mb-0">$342</h3>
								</div>
							</div>
						</div>
					</div>
					<!-- Card Item END -->
				</div>
			</div>
			<!-- Slider END -->		
		</div>
	</div>
</section>
<!-- =======================
Listed courses END -->

<!-- احصائيات الجامعة -->
<!-- Course info START -->
<div class="card card-body shadow p-4 mb-4">
	<!-- Title -->
	<h4 class="mb-3"> أحصائيات </h4>
	<ul class="list-group list-group-borderless">
		<li class="list-group-item d-flex justify-content-between align-items-center">
			<span class="h6 fw-light mb-0"><i class="fas fa-fw fa-book-open text-primary"></i>Lectures</span>
			<span>30</span>
		</li>
		<li class="list-group-item d-flex justify-content-between align-items-center">
			<span class="h6 fw-light mb-0"><i class="fas fa-fw fa-clock text-primary"></i>Duration</span>
			<span>4h 50m</span>
		</li>
		<li class="list-group-item d-flex justify-content-between align-items-center">
			<span class="h6 fw-light mb-0"><i class="fas fa-fw fa-signal text-primary"></i>Skills</span>
			<span>Beginner</span>
		</li>
		<li class="list-group-item d-flex justify-content-between align-items-center">
			<span class="h6 fw-light mb-0"><i class="fas fa-fw fa-globe text-primary"></i>Language</span>
			<span>English</span>
		</li>
		<li class="list-group-item d-flex justify-content-between align-items-center">
			<span class="h6 fw-light mb-0"><i class="fas fa-fw fa-user-clock text-primary"></i>Deadline</span>
			<span>Nov 30 2021</span>
		</li>
		<li class="list-group-item d-flex justify-content-between align-items-center">
			<span class="h6 fw-light mb-0"><i class="fas fa-fw fa-medal text-primary"></i>Certificate</span>
			<span>Yes</span>
		</li>
	</ul>
</div>
<!-- Course info END -->





 <!-- =======================
  Latest news START -->
  <section>
    <div class="container">
      <!-- Title -->
      <div class="row mb-4">
        <div class="d-md-flex justify-content-md-between align-items-center">
          <h2 class="mb-2 mb-md-0">اخر الاخبار</h2>
          <div>
            <span class="me-2">Want to read more?</span>
            <a href="#" class="btn btn-sm btn-primary-soft mb-0">Go here<i class="fas fa-angle-right ms-2"></i></a>
          </div>
        </div>
      </div>
  
      <div class="row g-4">
        <div class="col-md-6 col-lg-4">
          <!-- Card item START -->
          <div class="card bg-transparent">
            <div class="overflow-hidden rounded-3">
              <img src="{% static 'assets/images/event/02.jpg'%}" class="card-img" alt="Card image">
              <!-- Overlay -->
              <div class="bg-overlay bg-dark opacity-4"></div>
              <div class="card-img-overlay d-flex align-items-start flex-column p-3">
                <!-- badge -->
                <a href="#" class="badge bg-danger text-white">Student life</a>
              </div>
            </div>
            <!-- Card body -->
            <div class="card-body px-3">
              <!-- Title -->
              <h5 class="card-title"><a href="#">التسجيل المبكر على الجانعات التركية</a></h5>
              <p class="text-truncate-2">اضمن مقعد الان في التخصص الذي تحلم به معنا  </p>
              <!-- Info -->
              <div class="d-flex justify-content-between">
                <h6 class="mb-0"><a href="#">Frances Guerrero</a></h6>
                <span class="small">30M Ago</span>
              </div>
            </div>
          </div>
          <!-- Card item END -->
        </div>
  
        <div class="col-md-6 col-lg-8">
          <div class="row g-4">
            <div class="col-lg-7">
              <!-- Card item START -->
              <div class="card bg-light p-3 mb-4">
                <div class="card-body">
                  <!-- Badge -->
                  <a href="#" class="badge bg-success text-white mb-2">Research</a>
                  <!-- Title -->
                  <h5 class="card-title"><a href="#">How to make a college list</a></h5>
                  <p>Prospective students should start broadly and then narrow their list down to colleges that best fit their needs, experts say.Yet remarkably appearance get him his projection. </p>
                  <!-- Info -->
                  <div class="d-flex justify-content-between">
                    <h6 class="mb-0"><a href="#">Louis Crawford</a></h6>
                    <span class="small">12H Ago</span>
                  </div>
                </div>
              </div>
              <!-- Card item END -->
  
              <!-- Card item START -->
              <div class="card bg-transparent">
                <div class="overflow-hidden rounded-3">
                  <img src="{% static 'assets/images/event/01.jpg'%}" class="card-imgp" alt="Card image">
                  <!-- Overlay -->
                  <div class="bg-overlay bg-dark opacity-4"></div>
                  <div class="card-img-overlay d-flex align-items-start flex-column p-3">
                    <!-- badge -->
                    <a href="#" class="badge bg-info text-white">Student story</a>
                  </div>
                </div>
                <!-- Card body -->
                <div class="card-body px-3">
                  <!-- Title -->
                  <h5 class="card-title"><a href="#">Campus Support for First-Year Students</a></h5>
                  <p class="text-truncate-2">Prospective students should start broadly and then narrow their list </p>
  
                  <!-- Info -->
                  <div class="d-flex justify-content-between">
                    <h6 class="mb-0"><a href="#">Lori Stevens</a></h6>
                    <span class="small">3M Ago</span>
                  </div>
                </div>
              </div>
              <!-- Card item END -->
            </div>
  
            <div class="col-lg-5">
              <!-- Card item START -->
              <div class="card bg-transparent">
                <div class="overflow-hidden rounded-3">
                  <img src="{% static 'assets/images/event/03.jpg'%}" class="card-img-top" alt="course image">
                  <!-- Overlay -->
                  <div class="bg-overlay bg-dark opacity-2 rounded-2"></div>
                  <div class="card-img-overlay d-flex align-items-start flex-column p-3">
                    <!-- badge -->
                    <a href="#" class="badge bg-purple text-white">Covid-19</a>
                  </div>
                </div>
                <!-- Card body -->
                <div class="card-body px-3">
                  <!-- Title -->
                  <h5 class="card-title"><a href="#">Covid-19 and the college experienced</a></h5>
                  <p>Rooms oh fully taken by worse do. Points afraid but may end law.Points afraid but may end law. </p>
                  <!-- Info -->
                  <div class="d-flex justify-content-between">
                    <h6 class="mb-0"><a href="#">Amanda Reed</a></h6>
                    <span class="small">July 21, 2021</span>
                  </div>
                </div>
              </div>
              <!-- Card item END -->
            </div>
          </div><!-- Row END -->
        </div>
      </div><!-- Row END -->
    </div>
  </section>
  <!-- =======================
  Latest news END -->